{% extends 'MMCProfileBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} | Associer un profil
{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="text-center">Associer le profil {{ userProfile.profile.uuid }}</h1>
        {% for user in users %}
            {% set existingUp = false %}
            {% set authorized = false %}
            {% for up in user.userProfiles %}
                {% if up.profile == userProfile.profile %}
                {% set existingUp = true %}
                {% endif %}
            {% endfor %}

            {% if is_granted('CAN_ASSOCIATE_PROFILE', userProfile.profile) %}
                {% if existingUp == false %}
                    <a href="{{ path('profile_bundle_addAssociation', {'username': user.username, 'uuid': userProfile.profile.uuid }) }}">
                        <div class="col-lg-12 thumbnail text-center alert alert-info">
                            <p>{{ user.username }}</p>
                        </div>
                    </a>
                {% else %}
                    <div class="alert alert-warning text-center col-lg-12">
                        <p>{{ user.username }} a déjà un accès à ce profil</p>
                    </div>
                {% endif %}
            {% else  %}
                <div class="col-lg-12 thumbnail text-center alert alert-danger">
                    <p>Non autorisé à associer {{ user.username }} à ce profil</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
