{% extends 'MMCProfileBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} | {{ 'associate.page_title'|trans({}, 'mmc_profile_bundle_messages') }}
{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="text-center">
            {{ 'associate.associate_profile'|trans({}, 'mmc_profile_bundle_messages') }} {{ userProfile.profile.uuid }}
        </h1>
        {% for user in users %}
            {% set existingUp = false %}
            {% set authorized = false %}
            {% for up in user.userProfiles %}
                {% if up.profile == userProfile.profile %}
                {% set existingUp = true %}
                {% endif %}
            {% endfor %}

            {% if is_granted('CAN_ASSOCIATE_PROFILE', userProfile.profile) %}
                {% if existingUp == false %}
                    <a href="{{ path('profile_bundle_associate_profile', {'username': user.username, 'uuid': userProfile.profile.uuid }) }}">
                        <div class="col-lg-6 col-lg-offset-3 thumbnail text-center alert alert-info">
                            <p>{{ user.username }}</p>
                        </div>
                    </a>
                {% else %}
                    <div class="alert alert-warning text-center col-lg-6 col-lg-offset-3">
                        <p>{{ user.username }} {{ 'associate.existing'|trans({}, 'mmc_profile_bundle_messages') }}</p>
                    </div>
                {% endif %}
            {% else  %}
                <div class="col-lg-6 col-lg-offset-3 thumbnail text-center alert alert-danger">
                    <p>{{ 'associate.not_authorized'|trans({'%username%': user.username}, 'mmc_profile_bundle_messages') }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
