{% extends 'ProfileBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} | Priorité
{% endblock %}
{% block body %}
        <div class="container">
            <h1 class="text-center">Ajuster la priorité</h1>
            <div class="row d-flex justify-content-between">
                <div class="col-lg-6 col-lg-offset-3">
                    {{ form_start(form, {'attr': {'id': 'setPriorityForm'}}) }}
                        <div class="form-group row {% if form.priority.vars.errors|length > 0 %}has-error{% endif %}">
                            {{ form_label(form.priority, null, {'label_attr': {'class': 'col-lg-4 col-form-label text-lg-right'}}) }}
                            <div class="col-lg-8">{{ form_widget(form.priority, {'attr': {'class': 'form-control'}}) }}</div>
                            {{ form_errors(form.priority) }}
                        </div>
                        <div class="row justify-content-center mt-4">
                            <button class="btn btn-primary d-block mx-auto col-lg-12" type="submit" role="button">Créer
                            </button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
{% endblock %}
