{% extends 'MMCProfileBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} | {{ 'profile.page_title'|trans({}, 'mmc_profile_bundle_messages') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron text-center">
            <h2>{{ 'profile'|trans({}, 'mmc_profile_bundle_profile') }} {{ userProfile.profile.uuid }}</h2>
            <p>{{ 'type'|trans({}, 'mmc_profile_bundle_profile') }}: {{ userProfile.profile.type }}</p>
            {% if(userProfile.isOwner) %}
                <p>{{ 'owner'|trans({}, 'mmc_profile_bundle_profile') }}</p>
            {% else %}
                <p>{{ 'no_owner'|trans({}, 'mmc_profile_bundle_profile') }}</p>
            {% endif %}
            {% if(userProfile.isActive) %}
                <p>{{ 'active'|trans({}, 'mmc_profile_bundle_profile') }}</p>
            {% endif %}
                <p>{{ 'priority'|trans({}, 'mmc_profile_bundle_profile') }} : {{ userProfile.priority }}</p>
        </div>
        {% if is_granted('CAN_ACTIVATE_USERPROFILE', userProfile) %}
            {% if userProfile.isActive == false %}
                <a href="{{ path('profile_bundle_activate_profile', {'username': user.username, 'uuid': userProfile.profile.uuid }) }}">
                    <button class="btn btn-success d-block mx-auto col-lg-6"role="button">
                        {{ 'profile.activate'|trans({}, 'mmc_profile_bundle_messages') }}
                    </button>
                </a>
            {% endif %}
        {% endif %}
        {% if is_granted('CAN_SET_PRIORITY_USERPROFILE', userProfile) %}
            <a href="{{ path('profile_bundle_set_priority_profile', {'username': user.username, 'uuid': userProfile.profile.uuid }) }}">
                <button class="btn btn-info d-block mx-auto col-lg-6"role="button">
                    {{ 'profile.set_priority'|trans({}, 'mmc_profile_bundle_messages') }}
                </button>
            </a>
        {% endif %}
        {% if is_granted('CAN_DELETE_USERPROFILE', userProfile) %}
            <a href="{{ path('profile_bundle_delete_profile', {'uuid': userProfile.profile.uuid, 'username': user.username }) }}">
                <button class="btn btn-danger d-block mx-auto col-lg-6"role="button">
                    {{ 'profile.delete'|trans({}, 'mmc_profile_bundle_messages') }}
                </button>
            </a>
        {% endif %}
        {% if is_granted('CAN_ASSOCIATE_PROFILE', userProfile.profile) %}
            <a href="{{ path('profile_bundle_show_associations_profile', {'username': user.username, 'uuid': userProfile.profile.uuid }) }}">
                <button class="btn btn-warning d-block mx-auto col-lg-6"role="button">
                    {{ 'profile.associate'|trans({}, 'mmc_profile_bundle_messages') }}
                </button>
            </a>
        {% endif %}
        {% if is_granted('CAN_PROMOTE_USERPROFILE', userProfile) %}
            <a href="{{ path('profile_bundle_show_promotions_profile', {'uuid': userProfile.profile.uuid, 'username': user.username }) }}">
                <button class="btn btn-primary d-block mx-auto col-lg-6"role="button">
                    {{ 'profile.promote'|trans({}, 'mmc_profile_bundle_messages') }}
                </button>
            </a>
        {% endif %}
        {% if is_granted('CAN_DEMOTE_USERPROFILE', userProfile) %}
            <a href="{{ path('profile_bundle_show_demotion_profile', {'uuid': userProfile.profile.uuid, 'username': user.username }) }}">
                <button class="btn btn-secondary d-block mx-auto col-lg-6"role="button">
                    {{ 'profile.demote'|trans({}, 'mmc_profile_bundle_messages') }}
                </button>
            </a>
        {% endif %}
    </div>
{% endblock %}