{% extends 'MMCProfileBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} | Promouvoir
{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="text-center">Promouvoir un utilisateur</h1>

        {% for user in users %}
            {% set upExist = false %}
            {% set owner = false %}
            {% for up in user.userProfiles %}
                {% if up.profile == userProfile.profile %}
                    {% set upExist = true %}
                    {% if up.isOwner == true %}
                        {% set owner = true %}
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if is_granted('CAN_PROMOTE_USERPROFILE', userProfile) %}
                {% if owner %}
                    <div class="alert alert-warning col-lg-12 text-center">
                        <p>{{ user.username }} est déjà propriétaire de ce profil</p>
                    </div>
                {% elseif upExist == false %}
                    <a href="{{ path('profile_bundle_associateProfile', {'uuid': userProfile.profile.uuid, 'username': userProfile.user.username }) }}">
                        <div class="col-lg-12 thumbnail text-center alert alert-warning">
                            <p>{{ user.username }} n'est pas lié à ce profil, cliquer ici pour créer un lien</p>
                        </div>
                    </a>
                {% else %}
                    <a href="{{ path('profile_bundle_addPromotion', {'username': user.username, 'uuid': userProfile.profile.uuid }) }}">
                        <div class="col-lg-12 thumbnail text-center alert alert-info">
                            <p>{{ user.username }}</p>
                        </div>
                    </a>
                {% endif %}
            {% else %}
                <div class="col-lg-12 thumbnail text-center alert alert-danger">
                    <p>Non autorisé à promouvoir {{ user.username }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
