{% extends 'MMCProfileBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} | Home
{% endblock %}

{% block body %}
    <div class="container">
        <h2>Bienvenue {{ user.username }}</h2>
        {% if user.userProfiles is empty %}
            <div class="alert alert-warning">
                <h3> Vous n'avez pas de profil actuellement</h3>
                <h3><a href="{{ path('profile_bundle_createProfile') }}">
                    Créer votre premier profil
                </a></h3>
            </div>
        {% else %}
            <h3>Liste des profils liés à votre compte</h3>
            {% for userProfile in user.userProfiles %}
                <a href="{{ path('profile_bundle_seeProfile', { 'uuid': userProfile.profile.uuid, 'username': user.username}) }}">
                {% if userProfile.isActive %}
                    <div class="col-lg-4 thumbnail text-center alert alert-success">
                {% else %}
                    <div class="col-lg-4 thumbnail text-center alert alert-info">
                {% endif %}

                <strong>{{ userProfile.profile.uuid }}</strong>

                {% if userProfile.isOwner %}
                    <p>Propriétaire</p>
                {% else %}
                    <p>Non propriétaire</p>
                {% endif %}
                {% if userProfile.isActive %}
                    <p>Actif</p>
                {% else %}
                    <p>Inactif</p>
                {% endif %}

                <p>Priorité : {{ userProfile.priority }}</p>
                    <p>Type: {{ userProfile.profile.type }}</p>
                    </div>
                </a>
            {% endfor %}
            <div class="alert alert-warning col-lg-12 text-center">
                <h3><a href="{{ path('profile_bundle_createProfile') }}">
                    Créer un nouveau profil
                </a></h3>
            </div>
        {% endif %}
    </div>
{% endblock %}