{% extends 'MMCProfileBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} | {{ 'home.page_title'|trans({}, 'mmc_profile_bundle_messages') }}
{% endblock %}

{% block body %}
    <div class="container">
        <h2>{{ 'home.welcome'|trans({}, 'mmc_profile_bundle_messages') }} {{ user.username }}</h2>
        {% if user.userProfiles is empty %}
            <div class="alert alert-warning">
                <h3>{{ 'home.no_profile'|trans({}, 'mmc_profile_bundle_messages') }}</h3>
                <h3><a href="{{ path('profile_bundle_createProfile') }}">
                    {{ 'home.create_first_profile'|trans({}, 'mmc_profile_bundle_messages') }}
                </a></h3>
            </div>
        {% else %}
            <h3>{{ 'home.profile_list'|trans({}, 'mmc_profile_bundle_messages') }}</h3>
            {% for userProfile in user.userProfiles %}
                <a href="{{ path('profile_bundle_seeProfile', { 'uuid': userProfile.profile.uuid, 'username': user.username}) }}">
                {% if userProfile.isActive %}
                    <div class="col-lg-4 thumbnail text-center alert alert-success">
                {% else %}
                    <div class="col-lg-4 thumbnail text-center alert alert-info">
                {% endif %}

                <strong>{{ userProfile.profile.uuid }}</strong>

                {% if userProfile.isOwner %}
                    <p>{{ 'owner'|trans({}, 'mmc_profile_bundle_profile') }}</p>
                {% else %}
                    <p>{{ 'no_owner'|trans({}, 'mmc_profile_bundle_profile') }}</p>
                {% endif %}
                {% if userProfile.isActive %}
                    <p>{{ 'active'|trans({}, 'mmc_profile_bundle_profile') }}</p>
                {% else %}
                    <p>{{ 'inactive'|trans({}, 'mmc_profile_bundle_profile') }}</p>
                {% endif %}

                <p>{{ 'priority'|trans({}, 'mmc_profile_bundle_profile') }} : {{ userProfile.priority }}</p>
                    <p>{{ 'type'|trans({}, 'mmc_profile_bundle_profile') }} : {{ userProfile.profile.type }}</p>
                    </div>
                </a>
            {% endfor %}
            <a href="{{ path('profile_bundle_createProfile') }}">
                <div class="alert alert-warning col-lg-6 col-lg-offset-3 text-center">
                    <h3>{{ 'home.create_new_profile'|trans({}, 'mmc_profile_bundle_messages') }}</h3>
                </div>
            </a>
        {% endif %}
    </div>
{% endblock %}