{% extends '@MMCProfileBundle/Default/index.html.twig' %}

{% block body %}
    <div class="container">
        {{ parent() }}
        <hr style="border:solid 3px black">
        <h1 class="text-center alert alert-danger">Version de test</h1>
        {{ dump(user) }}
        <h2>Bienvenue {{ user.username }}</h2>
        {% set emptyProfiles = true %}
        {% for user in users %}
            {% if user.userProfiles|length > 0 %}
                {% set emptyProfiles = false %}
            {% endif %}
        {% endfor %}
        {% if emptyProfiles == true %}
            <div class="alert alert-warning">
                <h3> Vous n'avez pas de profil actuellement</h3>
                <h3><a href="{{ path('profile_bundle_create_profile') }}">
                    Créer votre premier profil
                </a></h3>
            </div>
        {% else %}
            <h3>Liste des profils</h3>
            {% for user in users %}
                <h3 class="col-lg-12 text-center">{{ user.username }}</h3>
                {% for userProfile in user.userProfiles %}
                    <a href="{{ path('profile_bundle_show_profile_for_user', { 'uuid': userProfile.profile.uuid, 'username': user.username }) }}">
                    {% if userProfile.isActive %}
                        <div class="col-lg-4 thumbnail text-center alert alert-success">
                    {% else %}
                        <div class="col-lg-4 thumbnail text-center alert alert-info">
                    {% endif %}
                            <strong>{{ userProfile.profile.label }}</strong>
                            {% if userProfile.isOwner %}
                                <p>Propriétaire</p>
                            {% else %}
                                <p>Non propriétaire</p>
                            {% endif %}
                            {% if userProfile.isActive %}
                                <p>Actif</p>
                            {% else %}
                                <p>Inactif</p>
                            {% endif %}
                            <p>Priorité : {{ userProfile.priority }}</p>
                            <p>Type: {{ userProfile.profile.type }}</p>
                        </div>
                    </a>
                {% endfor %}
            {% endfor %}
            <a href="{{ path('profile_bundle_create_profile') }}">
                <div class="alert alert-warning col-lg-6 col-lg-offset-3 text-center">
                    <h3>Créer un nouveau profil</h3>
                </div>
            </a>
        {% endif %}
    </div>
{% endblock %}